# Max OS specific files
.DS_Store
# Rust builds
/target
# This file contains environment-specific configuration like linker settings
.cargo/config.toml
# Assets are large, and mostly interested in learning the code.
/assets/*
!/assets/tiles
!/assets/shaders
/assets/tiles/*
!/assets/tiles/*.svg

# AI stuff should be ignored
.claude/
CLAUDE.md
